{% extends 'base.html.twig' %}

{% block title %}
	Les membres de la communauté
{% endblock %}

{% block body %}
	<div class="bg-white py-24 sm:py-32">
		<div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
			<div class="max-w-2xl">
				<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Les membres d'Agilinotes</h2>
				<p class="mt-6 text-lg leading-8 text-gray-600">Liste de tous les membres de la communauté. Rejoins-nous l'inscription est gratuite et profite de fonctionnalités pour améliorer ton workflow.</p>
				<a href="#" class="mt-8 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">Rejoindre la communauté</a>
			</div>
			<ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
				{% for item in users %}
					<li>
						<div class="flex items-center gap-x-6">
							<img class="h-16 w-16 rounded-full" src="{{ asset('/images/users/') }}{{ item.image }}" alt="">
							<div>
								<h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">{{ item.username }}</h3>
								<p class="text-sm font-semibold leading-6 text-indigo-600">{{ item.job }}</p>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="flex justify-center mt-10 p-10 border-t border-gray-200">
			{{ knp_pagination_render(users) }}
		</div>
	</div>
{% endblock %}
